{% extends "base.html" %}
{% block title %}Home -
{{ restaurant_name }}{% endblock %}

{% block content %}
<!-- Restaurant Logo -->
<img src="{{ restaurant_logo }}" alt="{{ restaurant_name }} Logo"
style="max-width:200px; margin-bottom:20px;"> 
<h2 class="section-title">Welcome to {{restaurant_name}}</h2>
<p>We are glad to serve you the best food in town!</p>

<P><strong>call us at:{{phone_number}}</strong></P>

<h2 class="section-title">Our Menu</h2>
<div class="menu-container">
    {%for item in menu_items%}
    <div class="card">
        <h3>{{item.name}}</h3>
        <p>Price:{{item.price}}</p>
    </div>
    {% endfor %}
</div>

<div class="info-container">
    <div class="card">
        <h3>Orders</h3>
        <p>Update menu items and prices.</p>
    </div>
    <div class="card">
      <h3>Accounts</h3>
      <p>Manage customer & staff accounts</p> 
      </div>
      <div class="card">
       <h3>Contact</h3>
       <p>Phone: {{restaurant_phone}}</p> 
      </div>
</div> 

 <div class="cta">
    <a href="/reservations" class="btn">Make a Reservation</a>
   </div>

   <div class="cta">
    <a href="{% url 'contact' %}" class="btn">Contact Us</a>
   </div>
{% endblock %} 